@model IEnumerable<Reversi_CL.Models.Spel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool bSpelerIsInSpel = (bool)ViewData["bSpelerInSpel"];
    string userId = ViewData["UserID"].ToString();
}

@section Scripts {
    <script type="text/javascript" src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript" src="~/js/app.js"></script>


    <script type="text/javascript">
        "use strict";

        let connection = new signalR.HubConnectionBuilder().withUrl("/spelHub").build();

        connection.on("ReceiveErrorPopup", function (message) {
            SPA.feedbackModule.toonErrorBericht(message);
        });

        connection.on("ReceiveJoinRequestResult", function (json) {
            //console.log('Received Request!');
            //console.log(obj);

            let data = JSON.parse(json);
            console.log(data);

            if (data.success === true) {
                console.log('Success!')

                return $.ajax({
                    type: "POST",
                    url: `/Spellen/JoinSpel/${data.spelID}`,
                    contentType: "application/json; charset=utf-8",
                    success: function()  { return console.log('123');}
                    //dataType: "json",
                });
            }
            
        });
        connection.start().then(function () { 

        }).catch(function (err) {
            return console.error(err.toString());
        });


        //Send Join Request
        document.getElementById("TblSpellen").addEventListener("click", function (event) {
            const isButton = event.target.className.includes("btn");

            if (!isButton) {
                return;
            }

            connection.invoke("SendJoinRequest", event.target.dataset.id, "@userId").catch(function (err) {
                return console.error(err.toString());
            });

            event.preventDefault();
        });



    </script>

}

<h1>Overicht openstaande spellen</h1>

@if (bSpelerIsInSpel)
{
    <h4 class="text-danger">U zit momenteel nog in een spel. Maak eerst uw laatste spel af voor dat u een nieuw spel kan beginnen.</h4>
}

<table id="TblSpellen" class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Speler
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Spelers.FirstOrDefault().Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Omschrijving)
                </td>
                <td>
                    @if (bSpelerIsInSpel)
                    {
                        <a class="btn btn-primary text-light disabled" @*asp-action="Details" asp-route-id="@item.ID"*@>Doe mee!</a>
                    }
                    else
                    {
                        <a class="btn btn-primary text-light" data-id="@item.ID" @*asp-action="Details" asp-route-id="@item.ID"*@>Doe mee!</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (bSpelerIsInSpel)
{
    <a class="btn btn-primary disabled" asp-area="" asp-action="Create">Begin nieuw spel</a>
}
else
{
    <a class="btn btn-primary" asp-area="" asp-action="Create">Begin nieuw spel</a>
}

